services:
  - type: web
    name: craveseat-api
    runtime: python
    region: frankfurt # Better latency for Nigeria than Oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: DATABASE_URL
        fromDatabase:
          name: craveseat-db
          property: connectionString
      - key: CLOUDINARY_URL
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
      - key: SECRET_KEY
        generateValue: true # Automatically generate a secret key if not provided
      - key: GOOGLE_CLIENT_ID
        sync: false

databases:
  - name: craveseat-db
    plan: free
    region: frankfurt