fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
cloudinary
shortuuid
httpx
alembic
bcrypt
python-dotenv
mangum
# Use this command to install the packages:
# pip install -r requirements.txt
